{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label for="symbol" class="mr-3 d-inline-block">Choose a Stock:</label>
        <select name="symbol" id="symbol" autofocus required class="mx-auto w-auto">
            <option value="" disabled selected>Stocks</option>
            {% for stock in stocks %}
                <option value={{stock.stock_symbol}}>{{stock.stock_symbol}}</option>
            {% endfor %}
        </select>
        <input name="shares" class="form-control mt-3 mx-auto w-auto" placeholder="N. Shares" type="number" min="1" required>
        <button type="submit" class="btn btn-primary mb-3">Sell</button>

    </form>
{% endblock %}
